<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.datamate.cleaning.infrastructure.persistence.mapper.CleaningTaskMapper">
    <sql id="Base_Column_List">
        id, name, description, src_dataset_id, src_dataset_name, dest_dataset_id, dest_dataset_name, before_size,
        after_size, status, created_at, started_at, finished_at
    </sql>

    <select id="findTasks" resultType="com.datamate.cleaning.interfaces.dto.CleaningTask">
        SELECT <include refid="Base_Column_List"/> FROM t_clean_task
        <where>
            <if test="status != null and status != ''">
                AND status = #{status}
            </if>
            <if test="keywords != null and status != ''">
                AND name LIKE CONCAT('%', #{keywords}, '%')
            </if>
        </where>
        ORDER BY created_at DESC
        <if test="size != null and offset != null">
            LIMIT ${size} OFFSET ${offset}
        </if>
    </select>

    <select id="findTaskById" resultType="com.datamate.cleaning.interfaces.dto.CleaningTask">
        SELECT <include refid="Base_Column_List"/> FROM t_clean_task WHERE id = #{taskId}
    </select>

    <insert id="insertTask">
        INSERT INTO t_clean_task (id, name, description, status, src_dataset_id, src_dataset_name, dest_dataset_id,
                                  dest_dataset_name, before_size, after_size, created_at)
        VALUES (#{id}, #{name}, #{description}, #{status}, #{srcDatasetId}, #{srcDatasetName}, #{destDatasetId},
                #{destDatasetName}, ${beforeSize}, ${afterSize}, NOW())
    </insert>

    <update id="updateTask">
        UPDATE t_clean_task
        <set>
            <if test="status != null">
                status = #{status.value},
            </if>
            <if test="startedAt != null">
                started_at = #{startedAt},
            </if>
            <if test="finishedAt != null">
                finished_at = #{finishedAt},
            </if>
        </set>
        WHERE id = #{id}
    </update>

    <delete id="deleteTask">
        DELETE FROM t_clean_task WHERE id = #{taskId}
    </delete>

</mapper>
