<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.datamate.cleaning.infrastructure.persistence.mapper.OperatorInstanceMapper">
    <insert id="insertInstance">
        INSERT INTO t_operator_instance(instance_id, operator_id, op_index, settings_override)
        VALUES
        <foreach collection="instances" item="operator" separator="," index="index">
            (#{instanceId}, #{operator.id}, #{index} + 1, #{operator.overrides})
        </foreach>
    </insert>

    <delete id="deleteByInstanceId">
        DELETE FROM t_operator_instance
        WHERE instance_id = #{instanceId};
    </delete>
</mapper>
