beautifulsoup4==4.14.2
datamate==0.0.1
datasketch==1.6.5
email_validator==2.3.0
emoji==2.2.0
jieba==0.42.1
loguru==0.7.3
numpy==2.2.6
opencv_contrib_python-headless==4.10.0.84
opencv_python-headless==4.12.0.88
openslide_python==1.4.2
paddleocr==3.2.0
pandas==2.2.3
pycryptodome==3.23.0
python_docx==1.2.0
pytz==2025.2
six==1.17.0
xmltodict==1.0.2
zhconv==1.4.3
sqlalchemy==2.0.40
pymysql==1.1.1
unstructured[pdf,docx]==0.18.15