apiVersion: v1
kind: Secret
metadata:
  name: deer-flow-env
stringData:
  {{- range .Files.Lines ".env" }}
  {{- $line := trim . }}
  {{- if and $line (not (hasPrefix "#" $line)) }}
  {{- $pair := regexSplit "=" $line 2 }}
  {{- if eq (len $pair) 2 }}
  {{ index $pair 0 | trim }}: {{ index $pair 1 | trim | quote }}
  {{- end }}
  {{- end }}
  {{- end }}

---
apiVersion: v1
kind: Secret
metadata:
  name: deer-flow-conf
stringData:
{{ (.Files.Glob "conf.yaml").AsConfig | indent 2 }}