<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.datamate.operator.infrastructure.persistence.mapper.CategoryRelationMapper">

  <select id="findAllRelationWithCategory" resultType="com.datamate.operator.domain.modal.RelationCategoryDTO">
    SELECT tc.id AS id, tcr.operator_id AS operatorId, tc.name AS name, tc.parent_id AS parentId
    FROM t_operator_category_relation tcr
           LEFT JOIN t_operator_category tc ON tcr.category_id = tc.id
  </select>

  <select id="findAllRelation" resultType="com.datamate.operator.domain.modal.CategoryRelation">
    SELECT category_id, operator_id FROM t_operator_category_relation
  </select>

  <insert id="batchInsert" parameterType="java.util.List">
        INSERT INTO t_operator_category_relation (operator_id, category_id)
        VALUES
        <foreach collection="categories" item="categoryId" separator=",">
            (#{operatorId}, #{categoryId})
        </foreach>
    </insert>

</mapper>
