<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.datamate.operator.infrastructure.persistence.mapper.OperatorMapper">
    <select id="findAllOperators" resultType="com.datamate.operator.domain.modal.Operator">
      SELECT id, name, description, version, inputs, outputs, runtime, settings, is_star, created_at, updated_at FROM
        t_operator
    </select>

    <select id="findOperatorsByCriteria" parameterType="map" resultType="com.datamate.operator.domain.modal.Operator">
        SELECT operator_id as id, operator_name as name, description, version, inputs, outputs, runtime, settings,
            is_star, created_at, updated_at, GROUP_CONCAT(category_id ORDER BY created_at DESC SEPARATOR ',') AS categories
        FROM v_operator
        <where>
            <if test="operatorName != null and operatorName != ''">
                AND operator_name LIKE CONCAT('%', #{operatorName}, '%')
            </if>
            <if test="categories != null and !categories.isEmpty()">
                AND category_id IN
                <foreach collection="categories" item="category" open="(" separator="," close=")">
                    #{category}
                </foreach>
            </if>
            <if test="isStar != null">
                AND is_star = #{isStar}
            </if>
        </where>
        GROUP BY operator_id
        <if test="size != null and offset != null">
            LIMIT ${size} OFFSET ${offset}
        </if>
    </select>

    <select id="countOperatorsByCriteria" parameterType="map">
        SELECT COUNT(DISTINCT operator_id) AS count
        FROM v_operator
        <where>
            <if test="operatorName != null and operatorName != ''">
                AND operator_name LIKE CONCAT('%', #{operatorName}, '%')
            </if>
            <if test="categories != null and !categories.isEmpty()">
                AND category_id IN
                <foreach collection="categories" item="category" open="(" separator="," close=")">
                    #{category}
                </foreach>
            </if>
            <if test="isStar != null">
                AND is_star = #{isStar}
            </if>
        </where>
    </select>

    <select id="findOperatorById" parameterType="string" resultType="com.datamate.operator.domain.modal.Operator">
        SELECT operator_id as id, operator_name as name, description, version, inputs, outputs, runtime, settings,
            is_star, created_at, updated_at, GROUP_CONCAT(category_id ORDER BY created_at DESC SEPARATOR ',') AS categories
        FROM v_operator
        WHERE operator_id = #{id}
    </select>

    <insert id="insertOperator" parameterType="com.datamate.operator.domain.modal.Operator">
        INSERT INTO t_operator (id, name, description, version, inputs, outputs, runtime, settings, is_star, created_at, updated_at)
        VALUES (#{id}, #{name}, #{description}, #{version}, #{inputs}, #{outputs}, #{runtime}, #{settings}, #{isStar}, NOW(), NOW())
    </insert>

    <update id="updateOperator" parameterType="com.datamate.operator.domain.modal.Operator">
        UPDATE t_operator
        <set>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="description != null and description != ''">
                description = #{description},
            </if>
            <if test="version != null and version != ''">
                version = #{version},
            </if>
            <if test="inputs != null and inputs != ''">
                inputs = #{inputs},
            </if>
            <if test="outputs != null and outputs != ''">
                outputs = #{outputs},
            </if>
            <if test="runtime != null and runtime != ''">
                runtime = #{runtime},
            </if>
            <if test="settings != null and settings != ''">
                settings = #{settings},
            </if>
            <if test="isStar != null">
                is_star = #{isStar},
            </if>
            updated_at = NOW()
        </set>
        WHERE id = #{id}
    </update>
</mapper>
